#table {
  padding: 21px;
}
#table table {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
}
.scrollbar {
  position: relative;
  height: 97%;
  overflow: auto;
}
.scroll-y {
  display: block;
}
.form-rounded {
  border-radius: 1rem;
  width: 90%;
}
